* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.popup.open {
    display: block;
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s, visibility 0.4s;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease-in-out;
}

.popup h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.popup p {
    font-size: 16px;
    color: #333;
}

.popup button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
